.error-Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;  
}
.error-card{
  border: 2px solid rgb(180, 15, 15);
  border-radius: 0.3rem;
  max-width: 275px;
  text-align: center;
  padding: 15px;
}
.error {
  font-weight: bold;
  font-size: 45px;
}
